{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<!-- <div class="intro-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>The Dashboard</h1>
					<h3>We made it here!</h3>
					<hr class="intro-divider">
				</div>
			</div>
		</div>
	</div>
</div> -->
 <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% for weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ weather.temperature }}° C</span>
                                    <br> {{ weather.description }}
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <a href="{{ base_url+'/weather/'+weather.city }}"></a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}